{% extends "index.html.twig" %}

{% block section %}
      <h1>Vos projets</h1>
<table class="table table-hover table-sm"><thead>
<tr><th>Id</th><th>Nom</th><th>Source</th><th>Demo</th><th>Image</th><th>Utilisateurs</th><th>Tags</th><th>Publier</th></tr>
</thead><tbody>
{% for projet in projets %}
      <tr><td>{{projet.id}} aaaa</td><td>{{projet.nomProjet}}</td><td>{% for source in projet.urlsSources %}{{ source.url }}{% endfor %}</td><td>{% for demo in projet.urlsDemos %}{{ demo.url }}{% endfor %}</td><td>{% for img in projet.imgsUrls %} <img width="100" src="{{ img.url }}"/>{% endfor %}</td><td>
                  {% for user in projet.idmembre %}
                        {{ user.nom }}<br>
                  {% endfor %}
            </td>
            <td>
                  {% for tag in projet.tags %}
                        {{ tag }}<br>
                  {% endfor %}
            </td>
            <td>
                  {{ projet.publier }}
            </td>
      </tr>
{% endfor %}
</tbody></table>
{% endblock %}

