
{% extends "index.html.twig" %}
{% block title %}Enregistrement{% endblock %}
{% block section %}

  <form method="post" action="index.php" class="d-flex col-md-4 d-md-block justify-content-center">
    <div style="min-height: 75vh; max-width: 350px " class="d-flex flex-column justify-content-center">
      <div>
        <fieldset>
          <div class="d-flex align-items-center" ><img class="me-2" height="32px" src="assets/img/logo.png"><span class="h2 m-0 fw-bold">Projets MMI</span></div>
          <legend class="fs-1 fw-bold">{% if membre %}Modifier l'utilisateur{% else %}Inscription{% endif %}</legend>
          <p>Entre tes informations pour crée ton compte</p>
          <div class="d-flex gap-2">
            <!--nom-->
            <div class="form-group">
              <label for="nom" class="col-sm-2 col-form-label col-form-label-sm">Nom</label>
              <input  type="text" id="nom" class="form-control form-control-sm" name="nom" required placeholder=""  {% if membre%}value="{{ membre.nom }}"{% endif %} />
            </div>
            <!--prenom-->
            <div class="form-group">
              <label for="prenom" class="col-sm-2 col-form-label col-form-label-sm">Prenom</label>
                <input  type="text" id="prenom" class="form-control form-control-sm" name="prenom" required placeholder="" {% if membre%}value="{{ membre.prenom }}"{% endif %} />
            </div>
          </div>
          <!--id_iut-->
          <div class="form-group">
            <label for="id_iut" class="col-sm-2 col-form-label col-form-label-sm">Identifiant IUT</label>
            <input  type="text" id="id_iut" class="form-control form-control-sm" name="id_iut" required placeholder="" {% if membre%}value="{{ membre.id_iut }}"{% endif %}  />
          </div>

          <!--email-->
          <div class="form-group">
            <label for="login" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
            <input  type="email" id="login" class="form-control form-control-sm" name="email" required placeholder="" {% if membre%}value="{{ membre.email }}"{% endif %} />

          </div>


          <!--mot de passe-->
          <div class="form-group">
            <label for="logpasswdin" class="col-sm-2 col-form-label col-form-label-sm">{% if membre %}Nouveau mot de passe{% else %}Mot de passe{% endif %}</label>
            <input  type="password" id="passwd" class="form-control form-control-sm" name="password" {% if not membre %}required{% endif %} placeholder="" />
          </div>
          {% if membre %}
            <input type="hidden" name="idMembre" value="{{ membre.idMembre }}"/>
            <input type="submit" name="modifier_membre" value="modifier_membre"/>
          {% else %}
            <input class="btn btn-primary mt-3 w-100" type="submit" name="inscription" value="inscription"/>
            <p class="mt-2">Déjà un compte ? <a class="text-secondary" href="?action=login">Me connecter</a></p>
          {% endif %}
        </fieldset>
      </div>
      <div class="position-absolute" id="illustration" src="assets/img/design2.svg" class="img-fluid w-25 mx-auto"></div>
    </div>

  </form>


{% endblock %}