{% extends "index.html.twig" %}

{% block section %}
    <div class="d-flex">
        <div>
            <article>
                <div class="card p-2">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <a href="?action=liste">back</a>
                        <h1>{{ projet.nomProjet }}</h1>
                        <div>
                            {% if projet.isProprietaire %}
                                <form method="post" action="">
                                    <input type="hidden" name="idProjet" value="{{ projet.idProjet }}">
                                    <input class="btn btn-primary" type="submit" name="saisie_modif" value="Edit">

                                    {% if admin %}
                                        {% if projet.publier %}
                                            <input class="btn btn-info" type="submit" name="dePublierProjet" value="De-publier">
                                        {% else %}
                                            <input class="btn btn-success" type="submit" name="publierProjet" value="Publier">
                                        {% endif %}
                                    {% endif %}
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    <ul class="list-unstyled flex">
                        <li><img class="w-100" src="{{ projet.thumbnail.url }}" /></li>
                    </ul>
                    <ul class="list-unstyled flex">
                        {% for image in projet.imgsUrls %}
                            <li class="w-25"><img class="w-100" src="{{ image.url }}" /></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class=" m-0 card p-2 mt-3 flex-row row row-cols-1 row-cols-md-3 ">
                    <div class="col flex-grow-1">
                        <h2>Description</h2>
                        <p>{{ projet.description }}</p>

                    </div>
                    <div class="col">
                        <h2>Créateur :</h2>


                        <h2>Participants</h2>
                        <ul>
                            {% for participant in projet.participants %}
                                <li>{{ participant.nom }} {{ participant.prenom }}</li>
                            {% endfor %}
                        </ul>
                        <h2>Urls</h2>

                        <h3>Sources</h3>
                        <ul>
                            {% for source in projet.urlsSources %}
                                <li><a href="{{ source.url }}">{{ source.titre }}</a></li>
                            {% endfor %}
                        </ul>
                        <h3>Demo</h3>
                        <ul>
                            {% for demo in projet.urlsDemos %}
                                <li>{{ demo.url }}</li>
                            {% endfor %}
                        </ul>
                        <h3>Tags</h3>
                        <ul>

                            {% for tag in projet.tags %}
                            <li>{{ tag.intitule }}</li>
                            {% endfor %}

                        </ul>
                    </div>


                </div>

            </article>
            <div>
                <h2>Commentaires</h2>
                {{ projet.proprietaire }}{{ membre.idMembre }}
                {% if not projet.isProprietaire %}
                <form action="" method="post" >

                    <div>
                        <label for="contenu">Ecrie un commentaire</label>
                        <textarea name="contenu" id="contenu"></textarea>
                    </div>
                   <input hidden="hidden" name="idProjet" id="idProjet" value="{{ projet.idProjet }}" />
                    <button type="submit" class="btn btn-primary" name="envoie_commentaire" value="true">
                        Envoyer
                    </button>
                </form>
                {% endif %}
                <ul>
                    {% for commentaire in projet.commentaires %}
                        <li class="card" id="{{ commentaire.idCommentaire }}">
                            <div class="d-flex justify-content-between align-items-center comment">
                                <p class="h5">{{ commentaire.membre.prenom }} {{ commentaire.membre.nom }}</p>
                                <p>{{ commentaire.date }}</p>
                            </div>
                            <p>{{ commentaire.contenu }}</p>
                            {% if commentaire.proprietaire %}
                                <form class="modify-form d-none">
                                    <!-- Formulaire de modification -->
                                    <input type="hidden" name="idCommentaire" value="{{ commentaire.idCommentaire }}">
                                    <input type="hidden" name="idProjet" value="{{ projet.idProjet }}">
                                    <div>
                                        <label for="contenu">Ecrie un commentaire</label>
                                        <textarea name="contenu" id="contenu">{{ commentaire.contenu }}</textarea>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input class="btn btn-success" type="submit" name="saisie_modif" value="Edit">
                                        <input class="btn btn-danger" type="submit" name="del_commentaire" value="Supprimer">
                                    </div>
                                </form>

                                <form method="post" action="">
                                    <input type="hidden" name="idCommentaire" value="{{ commentaire.idCommentaire }}">
                                    <input type="hidden" name="idProjet" value="{{ projet.idProjet }}">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button class="btn btn-primary edit-button " value="{{ commentaire.idCommentaire }}" type="button">Modifier</button>
                                        <input class="btn btn-danger" type="submit" name="del_commentaire" value="Supprimer">
                                    </div>
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>

        <div class="">

            <ul class=" list-unstyled">
                {% if not projet.isProprietaire %}
                    <li class="pl position-fixed">
                        <form method="post">
                            <input hidden name="idProjet" value="{{ projet.idProjet }}">
                            <input hidden name="liked" value="{{ projet.liked }}" >
                            <button class="btn {% if projet.liked %}btn-danger{% else %}btn-primary{% endif %}" type="submit" name="like"><3</button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}


{% block head %}
<script src="assets/js/modif_commentaire.js" defer></script>
{% endblock %}
