{% extends "index.html.twig" %}

{% block section %}
      <h1>Liste des projets</h1>
      <ul class="row row-cols-1 row-cols-md-3  row-cols-lg-4  ">
            {% for projet in projets %}
                  <li class="card mb-3 col ">
                        <a href="?action=projet&id={{ projet.idProjet }}">
                              <img src="{{ projet.thumbnail.url }}" class="card-img-top" alt="...">
                              <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                          <h2 class="card-title h5 a m-0">{{ projet.nomProjet }}</h2>
                                          <span>{{ projet.likes }} <i class="text-primary fas fa-heart"></i></span>
                                    </div>
                                    <p class="card-text">{{ projet.courte }}</p>
                                    <p class="card-text"><small class="text-body-secondary">Semestre {{  projet.contexte.semestre }}</small></p>
                              </div>
                        </a>
                  </li>
            {% endfor %}
      </ul>

{% if false %}
<table class="table table-hover table-sm"><thead>
<tr><th>Id</th><th>Nom</th><th>Source</th><th>Demo</th><th>Image</th><th>Utilisateurs</th><th>Tags</th></tr>
</thead><tbody>
{% for projet in projets %}
      <tr><td>{{projet.id}} aaaa</td><td>{{projet.nomProjet}}</td><td>{% for source in projet.urlsSources %}{{ source.url }}{% endfor %}</td><td>{% for demo in projet.urlsDemos %}{{ demo.url }}{% endfor %}</td><td>{% for img in projet.imgsUrls %} <img width="100" src="{{ img.url }}"/>{% endfor %}</td><td>
                  {% for user in projet.participants %}
                        {{ user.nom }}<br>
                    {% endfor %}
            </td>
            <td>
                    {% for tag in projet.tags %}
                            {{ tag.intitule }}<br>
                        {% endfor %}
            </td>
      </tr>
{% endfor %}
</tbody></table>{% endif %}
{% endblock %}

