{% extends "index.html.twig" %}

{% block section %}
      <h1>Liste des projets</h1>
      <ul class="row row-cols-md-3   ">
            {% for projet in projets %}
                  <li class="card mb-3 col">
                        <img src="{{ projet.thumbnail.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                              <h2 class="card-title h5 ">{{ projet.nomProjet }}</h2>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                  </li>
            {% endfor %}
      </ul>


<table class="table table-hover table-sm"><thead>
<tr><th>Id</th><th>Nom</th><th>Source</th><th>Demo</th><th>Image</th><th>Utilisateurs</th><th>Tags</th></tr>
</thead><tbody>
{% for projet in projets %}
      <tr><td>{{projet.id}} aaaa</td><td>{{projet.nomProjet}}</td><td>{% for source in projet.urlsSources %}{{ source.url }}{% endfor %}</td><td>{% for demo in projet.urlsDemos %}{{ demo.url }}{% endfor %}</td><td>{% for img in projet.imgsUrls %} <img width="100" src="{{ img.url }}"/>{% endfor %}</td><td>
                  {% for user in projet.participants %}
                        {{ user.nom }}<br>
                    {% endfor %}
            </td>
            <td>
                    {% for tag in projet.tags %}
                            {{ tag }}<br>
                        {% endfor %}
            </td>
      </tr>
{% endfor %}
</tbody></table>
{% endblock %}

