{% extends "index.html.twig" %}
{% block title %}{{ projet.nomProjet }}{% endblock %}
{% block section %}
    <div class="col col-md-12 col-lg-7 d-flex  mx-auto ">
        <div id="content" class="w-100">
            <article>
                <div class="card p-2">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <a href="?action=liste">back</a>
                        <h1>{{ projet.nomProjet }}</h1>
                        <div>
                            {% if projet.isParticipant or admin==1 %}
                                <form method="post" >
                                    <input type="hidden" name="idProjet" value="{{ projet.idProjet }}">
                                    <input class="btn btn-primary" type="submit" name="saisie_modif" value="Edit">

                                    {% if admin==1 %}
                                        {% if projet.publier %}
                                            <input class="btn btn-info" type="submit" name="dePublierProjet" value="De-publier">
                                        {% else %}
                                            <input class="btn btn-success" type="submit" name="publierProjet" value="Publier">
                                        {% endif %}
                                    {% endif %}
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    <ul class="list-unstyled flex">
                        <li><img class="w-100" src="{{ projet.thumbnail.url }}" alt=""/></li>
                    </ul>
                    <ul class="list-unstyled flex">
                        {% for image in projet.imgsUrls %}
                            <li class="w-25"><img class="w-100" src="{{ image.url }}" alt="" /></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class=" m-0 card p-2 mt-3 flex-row row row-cols-1 row-cols-md-3 ">
                    <div class="col flex-grow-1">
                        <div>
                        <h2>Description</h2>
                        <p>{{ projet.description }}</p>
                        </div>
                        <div >

                            <h2>Urls</h2>
                            <h3>Sources</h3>
                            <ul class="d-flex gap-2 flex-wrap">
                                {% for url in projet.urlsSources %}
                                    <li class="btn btn-primary"><a class="text-primary " href="{{ url.url }}">{{ url.titre }}</a></li>
                                {% endfor %}
                            </ul>
                            <h3>Demo</h3>
                            <ul class="d-flex gap-2 flex-wrap   ">
                                {% for url in projet.urlsDemos %}
                                    <li class="list-unstyled btn btn-primary"><a class="text-primary " href="{{ url.url }}">{{ url.titre }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                    <div class="col">

                        <h2>Participants</h2>
                        <ul class="card bg-body p-3">
                            {% for participant in projet.participants %}
                                <li class="list-unstyled ">{{ participant.nom }} {{ participant.prenom }}</li>
                            {% endfor %}
                        </ul>


                        <h3>Tags</h3>
                        <ul>

                            {% for tag in projet.tags %}
                            <li class="badge badge-pill text-bg-primary text-white">{{ tag.intitule }}</li>
                            {% endfor %}

                        </ul>
                        <h3>Contexte</h3>
                        <p>{{ projet.contexte.intitule }} </p>
                        <h4 class="fs-5">Semestre {{ projet.contexte.semestre}} </h4>


                        <h3>Categorie</h3>
                        <p>{{ projet.categorie.intitule }}</p>

                        {% if projet.isProprietaire or admin==1 %}
                        <h3>Supprimer le projet</h3>
                            <form method="post">
                                <input type="hidden" name="idProjet" value="{{ projet.idProjet }}">
                                <button type="submit" class="btn btn-danger" name="select_supprimer_projet" value="true">Supprimer</button>

                            </form>
                        {% endif %}
                    </div>


                </div>

            </article>
            <div>
                <h2>Commentaires</h2>
                {% if projet.isParticipant %}
                <p>Vous ne pouvez pas commenter votre propre projet</p>
                {% elseif acces=="oui" %}
                <form  method="post" >
                    <div>
                        <label for="contenu">Ecrie un commentaire</label>
                        <textarea name="contenu" id="contenu"></textarea>
                    </div>
                   <input hidden="hidden" name="idProjet" id="idProjet" value="{{ projet.idProjet }}" />
                    <button type="submit" class="btn btn-primary" name="envoie_commentaire" value="true">
                        Envoyer
                    </button>
                </form>
                    {% else %}
                    <p>Vous devez être connecté pour commenter</p>
                        <a href="?action=login" >Me connecter</a>
                {% endif %}
                <ul>
                    {% if projet.commentaires|length == 0 %}
                        <li class="card">
                            <p>Les commentaires apparaitrons ici</p>
                        </li>
                    {% endif %}
                    {% for commentaire in projet.commentaires %}
                        <li class="card" id="{{ commentaire.idCommentaire }}">
                            <div class="d-flex justify-content-between align-items-center comment">
                                <p class="h5">{{ commentaire.membre.prenom }} {{ commentaire.membre.nom }}</p>
                                <p>{{ commentaire.date }}</p>
                            </div>
                            <p>{{ commentaire.contenu }}</p>
                            {% if commentaire.proprietaire or admin==1 %}
                                <form method="post" class="modify-form d-none">
                                    <!-- Formulaire de modification -->
                                    <input type="hidden" name="idCommentaire" value="{{ commentaire.idCommentaire }}">
                                    <input type="hidden" name="idProjet" value="{{ projet.idProjet }}">
                                    <div>
                                        <label for="contenu">Ecrie un commentaire</label>
                                        <textarea name="contenu" id="contenu">{{ commentaire.contenu }}</textarea>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input class="btn btn-success" type="submit" name="mod_commentaire" value="Edit">
                                        <input class="btn btn-danger" type="submit" name="del_commentaire" value="Supprimer">
                                    </div>
                                </form>

                                <form method="post" >
                                    <input type="hidden" name="idCommentaire" value="{{ commentaire.idCommentaire }}">
                                    <input type="hidden" name="idProjet" value="{{ projet.idProjet }}">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button class="btn btn-primary edit-button " value="{{ commentaire.idCommentaire }}" type="button">Modifier</button>
                                        <input class="btn btn-danger" type="submit" name="del_commentaire" value="Supprimer">
                                    </div>
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>

        <div class="pl ">
            <ul class=" ms-3 list-unstyled">
                {% if not projet.isProprietaire and acces=="oui" %}
                    <li class="position-fixed">
                        <form method="post">
                            <input hidden name="idProjet" value="{{ projet.idProjet }}">
                            <input hidden name="liked" value="{{ projet.liked }}" >
                            <button class="btn  p-4 ratio ratio-1x1 rounded-5 {% if projet.liked %}btn-danger{% else %}btn-primary{% endif %}" type="submit" name="like"><i style="position: absolute; top: 32%; left: 32%;" class="fa-solid fa-heart w-auto h-auto"></i></button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}


{% block head %}
<script src="assets/js/modif_commentaire.js" defer></script>
{% endblock %}
