{% extends "index.html.twig" %}

{% block title %}Ajout d'un projet{% endblock %}

{% block section %}

    <h1>Ajout d'un projet</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.image) }}
        {{ form_row(form.link) }}
        {{ form_row(form.category) }}
        {{ form_row(form.tags) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
